:root {
   --color-lg-green: #edfbf0;
   --color-md-green: #59B577;
   --color-dk-green: #264D33;
   --color-dark: #363949;
   --color-light: rgba(132, 139, 200, 0.18);
   --color-primary-variant: #111e88;
   --color-dark-variant: #677483;
   --bg-gradient-green: linear-gradient(to bottom right,  #59B577, #D0ECD5);
 
   --card-border-radius: 2rem;
   --border-radius-1: 0.4rem;
   --border-radius-2: 0.8rem;
   --border-radius-3: 1.2rem;
 
   --card-padding: 1.8rem;
   --padding-1: 0.4rem;
   --padding-2: 1.2rem;
   --padding-3: 2.0rem;


   --box-shadow: 0 2rem 3rem var(--color-light);
 }