@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap');

:root {
   --color-lg-green: #edfbf0;
   --color-md-green: rgba(34, 195, 166, 1);
   --color-dk-green: #264D33;
   --color-white: #ffffff;
   --color-dark: #333333;
   --color-light: rgba(132, 139, 200, 0.18);
   --color-primary-variant: #111e88;
   --color-dark-variant: #677483;
   --bg-gradient-green: linear-gradient(90deg, #22c3a6 11%, #5fd388 100%);

   --card-border-radius: 2rem;
   --border-radius-1: 0.4rem;
   --border-radius-2: 0.8rem;
   --border-radius-3: 1.2rem;

   --card-padding: 1.8rem;
   --padding-1: 0.4rem;
   --padding-2: 1.2rem;
   --padding-3: 2.0rem;


   --box-shadow: 0.8rem 0.4rem 0.8rem var(--color-light);
}

* {
   margin: 0;
   padding: 0;
   outline: 0;
   appearance: none;
   border: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
}

body {
   height: 100vh;
   width: 100vw;
   background: var(--color-dark);
   font-size: 16px;
   font-family: 'Space Mono', sans-serif;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header .logo {
   display: flex;
   align-items: flex-end;
   height: fit-content;
   padding: 2% 1%;
   color: var(--color-lg-green);
}

header h4 {
   color: var(--color-lg-green);
   font-weight: 600;
}

header .logo span {
   color: var(--color-md-green);
   font-weight: 500;
   letter-spacing: -0.12rem;
}

header img {
   height: 2.6rem;
}

/* MAIN */

main .greetings {
   padding: 2rem;
   margin: 0 auto;
   max-width: 750px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap-reverse;
   background: var(--bg-gradient-green);
   box-shadow: var(--box-shadow);
   border-radius: 0.4rem;
}

main .greetings .greetings-text {
   line-height: 0.4rem;
   margin-top: 1rem;
   min-width: 350px;
}

main .greetings .greetings-text p:first-child {
   color: var(--color-dk-green);
   font-size: 1.4rem;
   letter-spacing: -0.1rem;
   font-weight: 600;
}

main .greetings .greetings-text p {
   color: var(--color-lg-green);
   font-size: 1.2rem;
}

main .greetings .greetings-text .social-media {
   display: flex;
   justify-content: space-between;
   max-width: 200px;
}


main .social-media .greetings-icons {
   font-size: 1.5rem;
   padding: 0.2rem;
   color: var(--color-lg-green);
   border-radius: 20%;
}

main .social-media .icon-animation {
   transition: all .3s ease-in-out;
}

main .social-media .icon-animation:hover {
   transform: scale(1.2);
   color: var(--color-md-green);
   background: var(--color-lg-green);
   box-shadow: 0.2rem 0.2rem 1rem var(--color-dk-green);
}

main .greetings .port-pic img {
   height: 12rem;
}

/* FOOTER */

footer p {
   color: var(--color-lg-green);
   text-align: center;
   text-decoration: overline;
   font-weight: 600;
}



::-webkit-scrollbar {
   width: 0.6rem;
}

::-webkit-scrollbar-thumb {
   background: var(--color-light);
}

::-webkit-scrollbar-thumb:hover {
   background: var(--bg-gradient-green);
}