@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

:root {
   --color-lg-green: #edfbf0;
   --color-md-green: #22c3a6;
   --color-dk-green: #264D33;
   --color-white: #edfeee;
   --color-dark: #0a192f;
   --color-light: rgba(132, 139, 200, 0.18);
   --color-primary-variant: #111e88;
   --color-dark-variant: #231F20;
   --bg-gradient-green: linear-gradient(90deg, #22c3a6 11%, #5fd388 100%);

   --card-padding: 1.8rem;
   --padding-1: 0.4rem;
   --padding-2: 1.2rem;
   --padding-3: 2.0rem;


   --box-shadow: 0.2rem 0.1rem 0.8rem var(--color-light);
}

* {
   margin: 0;
   outline: 0;
   appearance: none;
   border: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
}

html {
   font-size: 93.75%;
}

body {
   height: 100vh;
   background: var(--color-dark);
   color: var(--color-lg-green);
   font-family: 'Fira Code', monospace, sans-serif;
}

/* ------------- HEADER ------------- */
header {
   height: 4.375rem;
   padding: 0.8rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

header img {
   width: 2.6rem;
}

header .menu {
   display: flex;
   gap: .4rem;
}

header .menu a {
   text-decoration: none;
   font-size: 1.1rem;

   color: var(--color-lg-green);
   transition: all .2s ease-in-out;
}

header .menu li a:hover {
   transform: scale(0.98);
   opacity: 1;
}

header .menu .resume {
   color: var(--color-md-green);
   font-weight: 700;
}

header .menu .resume:hover {
   color: var(--color-md-green);

}

header .menu a {
   display: block;
   padding: .5rem;
}

#btn-mobile {
   display: none;
}



/* --------- ABOUT ME --------- */

main {
   margin-top: 1rem;
}

main section#about {
   margin-bottom: 5rem;
}

#about-me h1 {
   font-size: 4rem;
   font-family: 'Space Mono';
   font-weight: 400;

   margin-bottom: 0;
}

#about-me h1 span {
   font-weight: 600;
   color: var(--color-md-green);
}

#about-me h2 {
   font-size: 1.86rem;
   font-weight: 400;
   letter-spacing: 0.3rem;

   margin: 0.3 0.3rem 1rem 0;
}

#about-me p {
   font-size: 1.2rem;
   font-weight: 400;

   margin-left: 0.2rem;
}


/* --------- TECH --------- */

section#tech {
   background: var(--color-md-green);
   text-align: center;

}

section#tech h2 {
   margin-top: 0;
   font-size: 3rem;
}

section#tech i {
   text-align: center;
   font-size: 3rem;
   padding: 0 1rem 1rem 0rem;

   color: var(--color-lg-green);
}





/* --------- SOCIAL MEDIA --------- */

main .social-media-icons {
   font-size: 1.8rem;
   color: var(--color-md-green);
   padding: 0 4rem;
}

main .social-media-icons:hover {
   transition: all .1s ease-in-out;
   transform: scale(0.95);

   color: var(--color-lg-green);
}

/* --------- SCROLLBAR --------- */

::-webkit-scrollbar {
   width: 0.6rem;
}

::-webkit-scrollbar-thumb {
   background: var(--color-light);
}

::-webkit-scrollbar-thumb:hover {
   background: var(--bg-gradient-green);
}
















@media (max-width: 600px) {
   header .menu {
      display: block;
      width: 100%;
      height: 0;
      background-color: var(--color-dark);

      position: absolute;
      top: 4.375rem;
      right: 0;
      padding: 0 1.2rem;

      z-index: 999;

      transition: .6s;
      visibility: hidden;
      overflow-y: hidden;
   }

   #nav.active .menu {
      height: calc(100vh - 4.375rem);
      visibility: visible;
      overflow-y: auto;
   }

   .menu a {
      border-bottom: 1px solid var(--color-dk-green);
   }


   #btn-mobile {
      display: flex;
      align-items: center;
      gap: .3rem;

      padding: .5rem 1rem;

      background: none;
      color: var(--color-md-green);
   }

}